<%- include('header'); %>

<h1 class="nameTitle">Contacteer ons.</h1>
<br>
<br>

<div class=infoTekst>
    Voor meer informatie over onze gallerij kan u altijd terecht op Hét Museum e-mail adres of Whatsapp.
    <br>
    <br>
    contact@hetmuseum.be
    <br>
    +31495604534
    <br><br>
    Sint-Niklaas 9100
    <br>
    Fazantstraat 24
    <br>
    Oost-Vlaanderen
</div>

<%- include('footer'); %>