<%- include('header'); %>

<h1 class="nameTitle">Jullie favoriet.</h1>
<br>
<br>
<div class=infoTekst>
   
      Leonardo Da Vinci’s portret van een Onbekende Vrouw,
      <br>
      genaamd La Belle Ferronniere.
      <br>
      <br>
       <img src="https://images.fridaymagazine.ae/1_2146523/imagesList_6/2876008960_vertical-small.jpg" alt="">
       <br>
       <br>
       Meer informatie:
       <br>
       <br>
       <div class="boldTekst">
           Artiest
        </div>
         Leonardo da Vinci or his Milanese circle
         <br>
          <div class="boldTekst">
           Jaartal
        </div>
         1490–1496
         <br>
          <div class="boldTekst">
           Medium
        </div>
         Olie op hout
         <br>
          <div class="boldTekst">
           Dimensies
        </div>
         62 cm × 44 cm (24 in × 17 in)
          <br>

    <br>    
    In veel musea zou je niet zo dicht bij een Da Vinci kunnen komen als in het Louvre Abu Dhabi. Dit schilderij staat ook bekend als Portret van een onbekende vrouw. Da Vinci zou graag vrouwen portretteren. Van zijn vijf overgebleven portretten zijn er vier van vrouwen.
    <br>
    <br>
    Dit werk is zo interessant omdat het een "hernieuwde interesse" in het denken van de oudheid onthult die de mens in het centrum van alle dingen in Rennaisance Europe plaatste. Mensen werden observatieobjecten, zoals blijkt uit het belang dat aan portretten wordt gehecht. Kunstenaars legden niet langer simpelweg de status van hun oppas vast, maar wilden echte emoties weergeven.
    <br>
<br>
   <div class="details">tekst via wikipedia.</div>
    

</div>


<%- include('footer'); %>