<nav>
 <ul>
    <li><a href="/">home</a></li>
    <li><a href="/gallerij">gallerij</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/detailpagina">detailpagina</a></li>
  </ul>
</nav>

